
# Ignorar carpetas de caché de Python
__pycache__/

paper/CLIPRewardedSAC_20250930_154046_idvlm_rl_tensorboard_exports
tensorboard/
.vscode
*.txt
tools
2412.15544v1.pdf
carla_env.yml
eval_all.py
*.avi
*.gif
clips
graph_generation/plots
*.png
*.csv

